 /*.header{
    background: url('../images/emci.jpg');
    /* width: 100%;
    height: 40%; 
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;


}*/
 /*css de page home --test video*/
 
 .v-header {
     height: 100vh;
     display: flex;
     align-items: center;
     color: white;
 }
 
 .container1 {
     max-width: 960px;
     padding-left: 1rem;
     padding-right: 1rem;
     margin: auto;
     text-align: center;
 }
 
 .full-screem {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100vh;
     overflow: hidden;
 }
 
 .full-screem video {
     min-width: 100%;
     min-height: 100%;
 }
 
 .header-overlay {
     height: 100vh;
     width: 100vh;
     top: 0;
     left: 0;
     background-color: rgb(97, 162, 206, 0.85);
     z-index: 1;
 }
 
 .header-content {
     z-index: 50px;
 }
 
 .header-content h1 {
     font-size: 50px;
     margin-bottom: 0;
 }
 
 .header-content p {
     font-size: 1.5em;
     display: block;
     padding-bottom: 2rem;
 }
 
 .btn1 {
     background-color: brown;
     color: white;
     font-size: 1.2rem;
     padding: 1rem 2rem;
     text-decoration: none;
 }
 /* fin css de page home --test video*/
 
 .heure {
     background-color: black;
     border-radius: 20px 0px 0px 0px;
     padding: 5px;
 }
 
 hr.blanc {
     border: 5px solid rgb(175, 171, 171);
 }
 
 hr.rouge {
     border: 5px solid red;
 }
 
 hr.bleu {
     border: 5px solid rgb(18, 18, 231);
 }
 /* border radius pour verset biblique*/
 
 .radius {
     border-radius: 15px 0 15px 0;
 }
 /* background image les deux omers*/
 
 .bg-omers {
     background-image: url(../images/monde.jpg);
     background-repeat: no-repeat;
     background-size: cover;
 }
 
 .bg-softhandy {
     background-color: black;
 }
 
 .size {
     font-size: 4em;
 }
 
 img.img-pred {
     height: 200px;
 }
 /*fin css pour taille categorie dans slider*/
 /* css partie bible*/
 
 .bg-bible {
     min-height: 100vh;
 }
 
 .menu-bible {
     background-size: cover;
     min-height: 100vh;
 }
 
 ul .menu-b {
     display: block;
 }
 /* menu --taille  */
 
 ul li a {
     font-size: 18px;
 }
 
 ul li a:hover {
     border-bottom: 2px solid rgb(219, 95, 95);
 }
 
 .fond-profil {
     margin-top: 80px;
     margin-left: 70px;
     width: 100px;
     border-radius: 50px;
     background-color: white;
 }
 
 .connexionlogin {
     margin-top: 100px;
     margin-left: 50px;
     margin-right: 50px;
 }
 
 .connectdata {
     /*   background-image: url(../images/conect1.jpg);
     background-repeat: no-repeat;
     height: 200px;
     width: 1200px; */
 }
 /*Les Media-query pour tous les sites */
 /* // Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */
 /* Small devices (landscape phones, 575px and up) */
 
 @media (max-width: 575.98px) {
     .phone_cache {
         display: none;
     }
     .taille_youtube_xs {
         width: 450;
         height: 250;
     }
     .partage_xs {
         width: 10px;
         height: 10px;
     }
     img.taille_xs {
         width: 300px;
         height: 90px;
     }
     .taill_cat_xs {
         font-size: 9px;
         cursor: pointer;
     }
     .taille_btn_don_xs {
         width: 420px;
         height: 100px;
     }
     .phone_mt {
         margin-top: 50px;
     }
 }
 /* Medium devices (tablets, 768px and up) */
 
 @media (min-width: 768px) {
     .taille_youtube_sm {
         width: 600;
         height: 350;
     }
     .partage_sm {
         width: 14px;
         height: 14px;
     }
     img.taille_sm {
         width: 135px;
         height: 90px;
     }
     .taill_cat_sm {
         font-size: 9px;
         cursor: pointer;
     }
     .taille_btn_don_sm {
         width: 310px;
         height: 100px;
     }
 }
 /* Large devices (desktops, 992px and up) */
 
 @media (min-width: 992px) {
     .taille_youtube_md {
         width: 859;
         height: 450;
     }
     .partage_md {
         width: 23px;
         height: 23px;
     }
     img.taille_md {
         width: 180px;
         height: 90px;
     }
     /*css pour taille categorie dans slider*/
     .taill_cat_md {
         font-size: 12px;
         cursor: pointer;
     }
     .taille_btn_don_md {
         width: 420px;
         height: 100px;
     }
 }
 /* Extra large devices (large desktops, 1200px and up) */
 
 @media (min-width: 1200px) {}